

.board__tasks{
    display: flex;
    flex-direction: row;
    
}

.card {
    margin: 10px;
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
}

.card__colors-wrap {
    display: flex;
    flex-flow: column wrap;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    width: 100%;
    text-align: center;
}

.load-more {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card__text {
    resize:none;
    height: 100px;
}

.card--black {
    background-color: black;
    color: white;
}

.card--yellow {
    background-color: yellow;
    color: purple;
}

.card--blue {
    background-color: blue;
    color: orange;
}

.card--green {
    background-color: green;
    color: red;
}

.card--pink {
    background-color: pink;
    color: yellowgreen;
}